<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://198.38.82.203:3306/asmine_main?user=USER&amp;password=PASS</property>
<!--        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/asmine_main?user=root&amp;password=1234</property>-->

        <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="connection.autoReconnect">true</property>
        <property name="connection.autoReconnectForPools">true</property>
        <property name="connection.is-connection-validation-required">true</property>

        <!-- configuration pool via c3p0-->
        <property name="c3p0.idle_test_period">120</property> <!-- seconds --> 
        <property name="c3p0.timeout">180</property> <!-- seconds -->
        <property name="c3p0.preferredTestQuery">select 1;</property>
        
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->
<!--        <property name="hibernate.hbm2ddl.auto">update</property>-->

   
        <mapping class="com.asmineduru.model.Brand"></mapping>
        <mapping class="com.asmineduru.model.Type"></mapping>
        <mapping class="com.asmineduru.model.Product"></mapping>
        <mapping class="com.asmineduru.model.Image"></mapping>
        <mapping class="com.asmineduru.model.Users"></mapping>
        <mapping class="com.asmineduru.model.Member"></mapping>
        <mapping class="com.asmineduru.model.Cart"></mapping>
        <mapping class="com.asmineduru.model.Likes"></mapping>
        <mapping class="com.asmineduru.model.Comment"></mapping>
        <mapping class="com.asmineduru.model.Orders"></mapping>
        <mapping class="com.asmineduru.model.OrderProduct"></mapping>
    </session-factory>
</hibernate-configuration>
